

/* .all-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
} */

body {
    font-family: Arial, sans-serif;
    background-color: #FFF5E0;
    padding: 20px;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.image-box {
    border-radius: 20px;
    overflow: hidden;
    margin-right: 20px;
}

.image1 {
    width: 500px;
    border-radius: 20px;
}

.content-box {
    border-radius: 20px;
    background-color: #FFF5E0;
    padding: 20px;
    flex: 1;
}

.predicted-class {
    padding-left: 20px;
    padding-top: 10px;
    background-color: #FFEBB2;
    border-radius: 20px;
    margin-bottom: 20px;
}

.res {
    color: #8B93FF;
    margin: 0;
    padding-bottom: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}


/* Style for each type of content */
.benign p,
.normal p,
.malignant p {
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.active-content {
    display: none;
}